{% extends 'core/index.html' %}
{% block main_content %}
<main role="main" class="container">
    <div class="row">
	<div class="col-md-8">
	    {% block content %}{% endblock %}
	</div>
	<div class="col-md-4">
	    <div class="content-section">
		<div class="article-metadata">
		    <h3>{{ sidebar.title }}</h3>
		</div>
		{% if sidebar.description %}
		<p class='text-muted'>{{ sidebar.description }}</p>
		{% endif %}
	    </div>
	    {% if sidebar.links %}
	    <div class="content-section">
		<div>
		    <h3>Related Links</h3>
		</div>
		<ul class="list-group">
		    {% for link in sidebar.links %}
		    <a href="{% url link.view link.parameters %}">
			<li class="list-group-item list-group-item-light">
			    {{ link.text }}
			    <i class="fas fa-chevron-right float-right"></i>
			</li>
		    </a>
		    {% endfor %}
		</ul>		
	    </div>
	    {% endif %}
	</div>
    </div>
</main>
{% endblock %}
