{% extends 'core/index.html' %}
{% block main_content %}
<main role="main" class="container">
    <div class="row">
	<div class="col-md-8">
	    <nav aria-label="breadcrumb">
		<ol class="breadcrumb">
		    {% if breadcrumb.title and breadcrumb.database and breadcrumb.collection and breadcrumb.attribute %}
		    <li class="breadcrumb-item"><a href="{% url breadcrumb.title.link.view %}">{{ breadcrumb.title.name }}</a></li>
		    <li class="breadcrumb-item"><a href={% url breadcrumb.database.link.view breadcrumb.database.link.parameters %}>{{ breadcrumb.database.name }}</a></li>
		    <li class="breadcrumb-item"><a href="{% url breadcrumb.collection.link.view breadcrumb.collection.link.parameters.database breadcrumb.collection.link.parameters.collection %}">{{ breadcrumb.collection.name }}</a></li>
		    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.attribute.name }}</li>
		    {% elif breadcrumb.title and breadcrumb.database and breadcrumb.collection %}
		    <li class="breadcrumb-item"><a href="{% url breadcrumb.title.link.view %}">{{ breadcrumb.title.name }}</a></li>
		    <li class="breadcrumb-item"><a href={% url breadcrumb.database.link.view breadcrumb.database.link.parameters %}>{{ breadcrumb.database.name }}</a></li>
		    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.collection.name }}</li>
		    {% elif breadcrumb.title and breadcrumb.database %}
		    <li class="breadcrumb-item"><a href="{% url breadcrumb.title.link.view %}">{{ breadcrumb.title.name }}</a></li>
		    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.database.name }}</li>
		    {% elif breadcrumb.title %}
		    <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.title.name }}</li>		    
		    {% endif %}
		</ol>
	    </nav>
	    {% block content %}{% endblock %}
	</div>
	<div class="col-md-4">
	    <div class="content-section">
		<div class="article-metadata">
		    <h3>{{ sidebar.title }}</h3>
		</div>
		{% if sidebar.description %}
		<p class='text-muted'>{{ sidebar.description }}</p>
		{% endif %}
	    </div>
	    {% if sidebar.links %}
	    <div class="content-section">
		<div>
		    <h3>Related Links</h3>
		</div>
		<ul class="list-group">
		    {% for link in sidebar.links %}
		    <a href="{% url link.view link.parameters %}">
			<li class="list-group-item list-group-item-light">
			    {{ link.text }}
			    <i class="fas fa-chevron-right float-right"></i>
			</li>
		    </a>
		    {% endfor %}
		</ul>		
	    </div>
	    {% endif %}
	</div>
    </div>
</main>
{% endblock %}
