{% extends 'core/main.html' %}
{% block content %}
<article class="media content-section">
    <div class="media-body">
	<div class="article-metadata">
	    <h2>
		<a class="mr-2" href="#">{{ collection | upper }} records</a>
	    </h2>
	</div>
	<ul class="list-inline">
	    {% for attribute in attributes %}
	    <li class="list-inline-item"><a href="{% url 'stats-attribute' database=database collection=collection attribute=attribute %}">{{ attribute }}</a></li>
	    {% endfor %}
	</ul>
    </div>
</article>
{% endblock %}
