{% extends 'core/main.html' %}
{% block content %}
{% for collection in collections %}
<article class="media content-section">
    <div class="media-body">
	<div class="article-metadata">
	    <a class="mr-2" href="{% url 'stats-collection' database=database collection=collection.name %}">{{ collection.name }}</a>
	    <small class="text-muted">June 2018</small>
	</div>
	<h2><a class="article-title" href="#">Records:</a>{{ collection.records }}</h2>
    </div>
</article>
{% endfor %}
{% endblock %}
