{% extends 'core/main.html' %}
{% block content %}
{% for collection,stats in collections %}
<article class="media content-section">
    <div class="media-body">
	<div class="article-metadata">
	    <h2>
		<a class="mr-2" href="{% url 'stats-collection' database=database collection=collection %}">{{ collection | upper }}</a>
	    </h2>	    
	</div>
	<h4><a class="article-title" href="#">Records:</a>{{ stats.records }}</h4>
	<h4><a class="article-title" href="#">Attributes:</a>{{ stats.attributes }}</h4>
    </div>
</article>
{% endfor %}
{% endblock %}
