{% extends 'core/main.html' %}
{% block content %}
{% for database in databases %}
<article class="media content-section">
    <div class="media-body">
	<div class="article-metadata">
	    <h2>
		<a class="mr-2" href="{% url 'stats-database' database=database.name %}">{{ database.name | upper }}</a>
	    </h2>
	</div>
	<h4><a class="article-title" href="#">Exams:</a></h4>
	<ul>
	    {% for collection in database.collections %}
	    <li class="article-content">{{ collection }}</li>
	    {% endfor %}
	</ul>
    </div>
</article>
{% endfor %}
{% endblock %}
